
<!-- <link rel="stylesheet" href="~/css/site.css" /> -->
<link rel="stylesheet" href="~/css/footerUpdate.css" />
<footer class="foot" style="width: 100%;" >
    <div class="col3">
        <span>Bize Ulaşın</span>
        <p><i>okcu.22073@gmail.com</i></p>
        <p><i>HAYELLERİNİZ HAYELLERİMİZDİR..</i></p>
        
    </div>
    
    <div class="col3">
        <span>Hizmetler</span>
        <p>İnşaat</p>
        <p>Proje</p>
        <p>Takip</p>
    </div>
</footer>
